* {
	padding: 0;
	margin: 0;
}
#gallery
{
    position: absolute;

    width: 100%;
    height: 100%;
}

#gallery div
{
    float: left;

    width: 24%;
    height: 29%;
    margin-top: 2%;
    margin-left: 5%;
}

#gallery div img
{
    width: 43%;
    height: 100%;
}

#gallery div .img_1
{
    margin-right: 5%;
}