#right{
	position:absolute;
	top:12%;
	right:2.7%;
	width:25%;
	height:71%;
}
#right div{
	margin-bottom:5px;
}
#right #title_word{
	text-align:right;
	padding-right:15px;
}
#right #title_word p{
	color:rgb(187,34,36);
	font-size:35px;
	font-family:Calisto MT;
}
#right #other{
	text-align:right;
}
#right #other p{
	font-size:14px;
}
#right #title_img{
	
	width:100%;
	height:82%;
}
#right #title_img img{
	width:100%;
	height:100%;
}
